<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        body {
            font-family: 'Lato', sans-serif;
        }

        p,
        ul {
            font-size: 25px;
            margin: auto;
            width: fit-content;
        }

        h1 {
            text-align: center;
            font-size: 70px;
            color: #ffffe6;
            background-color: #e67e22;
        }

        h2 {
            text-align: center;
            font-size: 35px;
            color: #2c3e50;
        }

        h3 {
            text-align: center;
            font-size: 25px;
            color: #2c3e50;
        }

        c {
            text-align: center;
            font-size: 25px;
        }

        form {
            text-align: center;
            font-size: 25px;
        }

        button {
            font-size: 20px;
            background-color: #e67e22;
            color: #330066;
            cursor: pointer;
            border-radius: 12px;
            border: 2px solid #04AA6D;
            padding: 5px 10px;
        }

        button:active {
            background-color: #d35400;
            ;
            color: #e4e4bf;
        }

        button:hover {
            background-color: #d35400;
            ;
            color: #e4e4bf;
        }

        input,
        select,
        option {
            font-size: 20px;
            background-color: #ecf0f1;
            color: #2c3e50;
            border-radius: 12px;
            border: 2px solid #04AA6D;
            padding: 5px 10px;
        }

        table {
            margin: 0px auto;
            align-self: center;
            font-size: 25px;
        }
    </style>
    <title>Interfejs</title>
    <script type="text/javascript">
        function addUserFormSubmit() {
            var url = {{ url_for('add_user') | tojson
        }};
        console.log("submit");
        var request = new XMLHttpRequest();
        request.open('POST', url, true);
        request.onload = function () { // request successful
            // we can use server response to our request now
            console.log(request.responseText);
            location.reload();
        };

        request.onerror = function () {
            // request failed
        };

        request.send(new FormData(document.getElementById("add-user-form")));
        }

        function assignRfidFormSubmit() {
            var url = {{ url_for('assign_rfid') | tojson
        }};
        console.log("submit");
        var request = new XMLHttpRequest();
        request.open('POST', url, true);
        request.onload = function () { // request successful
            // we can use server response to our request now
            console.log(request.responseText);
            location.reload();
        };

        request.onerror = function () {
            // request failed
        };

        request.send(new FormData(document.getElementById("assign-rfid-form")));
        }

        function addSongFormSubmit() {
            var url = {{ url_for('add_song') | tojson
        }};
        console.log("submit");
        var request = new XMLHttpRequest();
        request.open('POST', url, true);
        request.onload = function () { // request successful
            // we can use server response to our request now
            console.log(request.responseText);
            location.reload();
        };

        request.onerror = function () {
            // request failed
        };

        request.send(new FormData(document.getElementById("add-song-form"))); // create FormData from form that triggered event
        }

        function changeUserFormSubmit() {
            var url = {{ url_for('change_user') | tojson
        }};
        console.log("submit");
        var request = new XMLHttpRequest();
        request.open('POST', url, true);
        request.onload = function () { // request successful
            // we can use server response to our request now
            console.log(request.responseText);
            location.reload();
        };

        request.onerror = function () {
            // request failed
        };

        request.send(new FormData(document.getElementById("change-user-form")));
        }

        function removeSongFormSubmit(get) {
            var url = {{ url_for('remove_song') | tojson
        }};
        console.log("submit");
        var request = new XMLHttpRequest();
        request.open('POST', url, true);
        request.onload = function () { // request successful
            // we can use server response to our request now
            console.log(request.responseText);
            location.reload();
        };

        request.onerror = function () {
            // request failed
        };
        console.log(get);
        request.send(new FormData(document.getElementById(get))); // create FormData from form that triggered event
        }

        function fileFormSubmit() {
            var url = {{ url_for('upload_file') | tojson
        }};
        console.log("submit");
        var request = new XMLHttpRequest();
        request.open('POST', url, true);
        request.onload = function () { // request successful
            // we can use server response to our request now
            console.log(request.responseText);
            location.reload();
        };

        request.onerror = function () {
            // request failed
        };

        request.send(new FormData(document.getElementById("file-form")));
        }

        function changeHourFormSubmit(get) {
            var url = {{ url_for('change_hour') | tojson
        }};
        console.log("submit");
        var request = new XMLHttpRequest();
        request.open('POST', url, true);

        request.onload = function () {
            console.log(request.responseText);
            location.reload();
        };

        request.onerror = function () { };
        console.log(get);
        request.send(new FormData(document.getElementById(get)));
        }

        function fillRfid() {
            const rfid_object = document.getElementById("rfid");
            const rfid_input = document.getElementById("rfid-input");
            if (rfid_object.innerText != "None")
                rfid_input.value = rfid_object.innerText;
        }

        document.addEventListener("DOMContentLoaded", () => {
            const rfid_url = {{ url_for("get_last_rfid") | tojson
        }};
        const rfid_object = document.getElementById("rfid");

        fetch(rfid_url, { method: "GET" }).then(response => response.json()).then(json => { console.log(json); rfid_object.innerText = json["text"] || "None"; });

        setInterval(() => {
            console.log("Update");
            fetch(rfid_url, { method: "GET" }).then(response => response.json()).then(json => { console.log(json); rfid_object.innerText = json["text"] || "None"; });
        }, 5000)

        const input = document.getElementById("rfid-input");

        fetch(rfid_url, { method: "GET" }).then(response => response.json()).then(json => { input.value = json["text"] || ""; });
        })


    </script>
</head>


<body>
    <h1>Music Management</h1>

    {% for message in get_flashed_messages() %}
    <p class="error">{{message}}</p>
    {% endfor %}

    <h2>List of users:</h2>
    <c>
        <table>
            {% for user in users %}
            <p>
            <form style="font-size: 25px;">
                <p style="font-size: 25px; color: #330066">User: <b>{{user}}</b> {%if user==current_user %}[*]{%endif%}
                </p>
            </form>
            <p>
                {% for time_song in playlists[user] %}
            <p>
                {{time_song[2]}} from album {{time_song[1]}} at {{time_song[0]}}
            <form style="display:inline;font-size: 30px;" id="song-form-{{loop.index}}">
                <input type="hidden" name="username" value="{{ user }}">
                <input type="hidden" name="album" value="{{ time_song[1] }}">
                <input type="hidden" name="song" value="{{ time_song[2] }}">
                <input type="hidden" name="old_hour" value="{{ time_song[0] }}">
                <input type="text" name="new_hour" placeholder="HH:MM" required maxlength="5" size="3">
                <button type="button" onclick="changeHourFormSubmit('song-form-{{ loop.index }}')">Change hour</button>
                <button type="button" onclick="removeSongFormSubmit('song-form-{{ loop.index }}')"
                    style="font-size: 20px;">Remove</button>
            </form>
            </p>
            {% endfor %}
            </p>
            </p>
            {% endfor %}
        </table>
    </c>

    <h2>Operations:</h2>

    <table>
        <tr>
            <td>
                <h3>Add user: </h3>
            </td>
            <td>
                <form id="add-user-form">
                    <input type="text" name="username" required>
                    <button type="button" onclick="addUserFormSubmit()">Add</button>
                </form>
            </td>
        </tr>
    </table>
    <table>
        <tr>
            <td>
                <h3>Assign RFID:</h3>
            </td>
            <td>
                <form id="assign-rfid-form">
                    <input id="rfid-input" type="text" name="rfid" placeholder="RFID" required>
                    <button type="button" onclick="fillRfid()">Get RFID</button>
                    <select name="username">
                        {% for user in users %}
                        <option value="{{ user }}">{{ user }}</option>
                        {% endfor %}
                    </select>
                    <button type="button" onclick="assignRfidFormSubmit()">Assign</button>
                </form>
            </td>
        </tr>
    </table>
    <c>
        <p style="font-size: 25px; color: #330066;"><b>Last read RFID: </b><span id="rfid"></span></p>
    </c>

    <table>
        <tr>
            <td>
                <h3>Add song: </h3>
            </td>
            <td>
                <form id="add-song-form">
                    <select name="username">
                        {% for user in users %}
                        <option value="{{ user }}">{{ user }}</option>
                        {% endfor %}
                    </select>
                    <input type="text" name="hour" placeholder="HH:MM" required required maxlength="5" size="3">
                    <input type="text" name="album" placeholder="album" required>
                    <input type="text" name="song" placeholder="song" required>
                    <button type="button" onclick="addSongFormSubmit()">Add</button>
                </form>
            </td>
        </tr>
    </table>
    <table>
        <tr>
            <td>
                <h3>Change current user:</h3>
            </td>
            <td>
                <form id="change-user-form">
                    <select name="username" required>
                        <option value="">-- select user --</option>
                        {% for user in users %}
                        <option value="{{ user }}">{{ user }}</option>
                        {% endfor %}
                    </select>
                    <button type="button" onclick="changeUserFormSubmit()">Change user</button>
                </form>
            </td>
        </tr>
    </table>

    <table>
        <tr>
            <td>
                <h3>Upload file:</h3>
            </td>
            <td>
                <form id="file-form">
                    <input type="text" name="album" required placeholder="name of the album" />
                    <input type="file" name="file" required />
                    <input id="submit-button" type="button" value="Upload" onclick="fileFormSubmit()" />
                </form>
            </td>
        </tr>
    </table>

    <h2>Uploaded songs</h2>
    {% if songs %}
    <div style="width: 100%;">
        {% for album, song_names in songs %}
        <p style="margin:auto">
            album: <em>{{ album }}</em>
        <ul style="margin:auto">
            {%for song in song_names%}
            <li>{{song.removesuffix(".mp3")}}</li>
            {%endfor%}
        </ul>
        </p>
        {% endfor %}
    </div>
    {% else %}
    <c>
        <p>No songs uploaded yet.</p>
    </c>
    {% endif %}

</body>

</html>