<!DOCTYPE html>
<html lang="en">

<head>
    <title>Interfejs</title>
    <script type="text/javascript">
        function formSubmit(event) {
            var url = {{ url_for('upload_file') | tojson
        }};
        console.log("submit");
        var request = new XMLHttpRequest();
        request.open('POST', url, true);
        request.onload = function () { // request successful
            // we can use server response to our request now
            console.log(request.responseText);
        };

        request.onerror = function () {
            // request failed
        };

        request.send(new FormData(document.getElementById("file-form"))); // create FormData from form that triggered event
        event.preventDefault();
        }
        document.addEventListener("DOMContentLoaded", () => {
            const rfid_url = {{ url_for("get_last_rfid") | tojson
        }};
        const rfid_object = document.getElementById("rfid");

        fetch(rfid_url, { method: "GET" }).then(response => response.json()).then(json => { console.log(json); rfid_object.innerText = json["text"] || "None"; });

        setInterval(() => {
            console.log("Update");
            fetch(rfid_url, { method: "GET" }).then(response => response.json()).then(json => { console.log(json); rfid_object.innerText = json["text"] || "None"; });
        }, 5000)

        document.getElementById("submit-button").onclick = formSubmit;
        })
    </script>
</head>

<body>
    Playlists
    <ul>
        {% for user in users %}
        <li>
            {{user}}
            <ul>
                {% for time_song in playlists[user] %}
                <li>
                    {{time_song[2]}} from album {{time_song[1]}} at {{time_song[0]}}
                </li>
                {% endfor %}
            </ul>
        </li>
        {% endfor %}
    </ul>

    <p>Last read RFID: <span id="rfid"></span></p>

    <form id="file-form">
        <input type="text" name="album" required placeholder="name of the album" />
        <input type="file" name="file" required />
        <input id="submit-button" type="button" value="Upload" />
    </form>

</body>

</html>